@page
@model PRN221_PE_Equipments2024_TranGiaPhuc.Pages.EquipmentManagement.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.EqCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.EqCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.EqName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.EqName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.SupplierName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.SupplierName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Room.RoomName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Equipment.EqId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
