@page
@model EuroDb2023_TranGiaPhuc.Pages.EuroTeam.IndexModel




<h1>Index</h1>

<p>
    
    <a asp-page="./Create">Create New</a>    
</p>

@if (TempData["Message"] != null)
{
    <h2 class="text-info">@TempData["Message"]</h2>
}

<form method="get">
    <input type="text" name="searchTerm" />
    <input type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Point)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Team) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<ul class="pagination">
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        <li class="page-item @(i == Model.PageIndex ? "active" : "")">
            <a class="page-link" asp-route-pageIndex="@i">@i</a>
        </li>
    }
</ul>